---
title: Le Wagon - Middleman - About
---

<div id="about">
  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h1>This template was built with
            <i class="fa fa-heart"> </i></h1>
          </div>
          <ul class="list-inline text-center">
            <%
            team = [
              { fullname: "Mark van Riet", gh_name: "MarkLeWagon" }
            ]
            %>
            <% team.each do |member| %>
            <li>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{member[:gh_name]}", class: "img-circle" %>
              <h3><%= member[:fullname] %></h3>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<!-- "AlmuVera" -->

<!-- <i class="fa fa-heart"> -->
<!--
title: Le Wagon - Middleman - About
---
<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
      <% data.users.each do |user| %>
        <li>
          <% link_to "https://kitt.lewagon.com/alumni/#{user.github_nickname}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
          <% end %>
          <h2><%= user.name %></h2>
          <p>
            <% link_to "https://github.com/#{user.github_nickname}", target: "_blank" do %>
              <i class="fa fa-github"></i> <%= user.github_nickname %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>



